
:root {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color: black;
  background-color: var(--dark);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --highlight: #98A62D;
  --main: #435915;
  --white: #FCFBFB;
  --muted: #594D12;
  --dark: #252607;
}

body {
  margin: 0;
}

#site-container1 {
  margin: 0 auto;
  background-color: var(--white);
  padding: 1em;
  border-radius: 0 0 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 900px;
}
#site-container2 {
  background-color: var(--white);
  height: 100vh;
  padding: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
a:hover {
  color: var(--highlight);
}

h1 {
  font-size: 3.2em;
  
  color: var(--main);
}
h2 {
  font-size: 2.5em;
  
  color: var(--main);
  margin: 0 auto;
}
h1.style1 {
  font-family: Monoton, Arial, Helvetica, sans-serif;
}
h2.style1 {
  font-family:  Monoton, Arial, Helvetica, sans-serif;
}
h1.style2, h2.style2 {
  display: contents;
  font-size: 1em;
  color: black;
  font-family: Quantico, sans-serif;
  margin: 20px auto 0 0;
}
h2.style2 {
  float:left;
}
.myTree1 {
  min-height: 200px;
  min-width: 800px;
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-image: url(10603975_42971.svg);
  background-position: top center;
  background-repeat:repeat-y;
  background-size: 800px;
}
.myTree2 {
  min-width: 800px;
  padding: 0;
  display: flex;
  flex-direction: column;
    
}
.message1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px dotted var(--main);
  color: var(--dark);
  padding: 1em 0.3em;
  -webkit-backdrop-filter: blur(10px) brightness(170%);
  backdrop-filter: blur(10px) brightness(170%);
  max-width: 800px;
}
.message1:last-child {
  border-radius:0 0 20px 20px;
}
.message1:first-child {
  border-radius: 20px 20px 0 0;
}
.message1 > p {
  margin: 0 auto 0 0.5em;
}
.message2 {
  margin:0;
  padding:0;
  line-height: 0;
  display: flex;
  flex-direction: row;
  color: var(--dark); 
  max-width: 800px;
}

input.style2 {
  margin-right: 0.4em;
  width: 100%;
}
input.style2author {
  width: 100px;
}
input.style2time {
  width: 63px;
}
div#windowsBox {
  margin-top: 2em;
  border-width: 20px 6px 6px 6px;
  border-style: solid;
  border-color:  #357EC7;
  padding: 1px;
  position: relative;
}
div#windowsBox>.del {
  color: white;
  background-color: red;
  width: 2em;
  height: 18px;
  text-align: center;
  justify-content: center;
  position: absolute;
  top: -19px;
  right: 0;
}